<h1>Habit</h1>

<%= link_to "New Habit", habits_new_path %>


<p>
  Filter by:
  <%= link_to "All", habits_path %> |
  <%= link_to "Missed", habits_path(status: "missed") %> |
  <%= link_to "Completed", habits_path(status: "completed") %>
</p>

<% if params[:status].present? %>
  <p><strong>Currently showing:</strong> <%= params[:status].capitalize %> habits</p>
<% else %>
  <p><strong>Currently showing:</strong> All habits</p>
<% end %>

<ul>
  <% @habits.each do |habit| %>
    <li>
      <strong><%= habit.name %></strong>
      <% if habit.habit_logs.any? %>
        - Logs: <%= habit.habit_logs.count %>
      <% else %>
        - No logs yet
      <% end %>
    </li>
  <% end %>
</ul>

<div id="habit">
    <%= render @habits, show_page: false %>
</div>
