<!DOCTYPE html>
<html>
  <head>
    <title>HabitTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>

<body class="bg-white text-black dark:bg-gray-900 dark:text-white">
    <header class="navbar navbar-inverse">
      <div class="navbar-class">
        <div class="flex justify-between items-center bg-white shadow px-8 py-4 text-lg font-semibold">
          <h1>Welcome</h1>
          <div><%= link_to "Home", root_path, class: "hover:text-blue-500" %></div>
            <% if user_signed_in? %>
                <div><%= link_to "Create a New Habit", habits_new_path, class: "hover:text-blue-500" %></div>
                <div><%= link_to "See your habits", habits_path, class: "hover:text-blue-500" %></div>
                <div><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "hover:text-blue-500" %></div>
            <% else %>
                <div><%= link_to "Sign in", new_user_session_path, class: "hover:text-blue-500" %></div>
                <div><%= link_to "Sign up", new_user_registration_path, class: "hover:text-blue-500" %></div>
            <% end %>
        </div>
      </div>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
